# Configuration Supabase
DATABASE_URL="postgresql://postgres:[YOUR_PASSWORD]@db.dupbzoolphysyeykondk.supabase.co:5432/postgres?schema=public"
NEXT_PUBLIC_SUPABASE_URL="https://dupbzoolphysyeykondk.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-nextauth-secret-key-here"

# JWT Configuration
JWT_SECRET="your-jwt-secret-key-here"

# Stripe Configuration (à supprimer après migration)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_SECRET_KEY="sk_test_..."

# PayGreen Configuration
PAYGREEN_SHOP_ID= sh_690d8cf048ce46e3b90c27b7c654d22f
PAYGREEN_SECRET_KEY= sk_1f4483c3bf29477f85c775d073a74d46
PAYGREEN_PUBLIC_KEY= pk_03ebd56f8d2a46fca59e24b8bf0d2c15
PAYGREEN_ENV=sandbox           # ou production
NEXT_PUBLIC_PAYGREEN_PUBLIC_KEY=pk_xxxxx
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Email Configuration (optionnel)
EMAIL_SERVER_HOST="smtp.gmail.com"
EMAIL_SERVER_PORT="587"
EMAIL_SERVER_USER="your-email@gmail.com"
EMAIL_SERVER_PASSWORD="your-app-password"
EMAIL_FROM="noreply@bonplancbd.fr"
